# [_Python Built-in Functions_](https://www.w3schools.com/python/python_ref_functions.asp)

This notebooks will detail many of Python's built-in functions.

### `abs()`

In [1]:
# return the absolute value of a number
x = abs(-732)
print(x)

732

In [3]:
# return the absolute value of a complex number
x = abs(3+5j)
print(x)

5.830951894845301

### `all()`

In [4]:
mylist = [False, True, True]

# check if all items in a list are True
x = all(mylist)
print(x)

False

In [5]:
# check if all items in a tuple are True
mytuple = (0, True, True)
x = all(mytuple)
print(x)

False

In [6]:
# check if all items in a set are True
myset = {0, 1, 1}
x = all(myset)
print(x)

False

In [7]:
# check if all items in a dictionary are True
mydict = {0: True, 1: True}
x = all(mydict)
print(x)

False

**Note**: when used on a dictionary, the `all()` function checks if all the keys are true not the values.

Also, if the iterable object is empty, `all()` will return `True`.

### `any()`

In [8]:
# check if any of the items in a list are True
mylist = [True, False, True]
x = any(mylist)
print(x)

True

In [9]:
# check if any item in a tuple is True
mytuple = (0, 1, True)
x = any(mytuple)
print(x)

True

In [13]:
# check if any item in a set is True
myset = {1, 0, 0}
x = any(myset)
print(x)

True

In [14]:
# check if any item in a dictionary is True
mydict = {1: 'Apple', 2: 'Orange'}
x = any(mydict)
print(x)

True

### `bin()`

In [15]:
# return the binary version of 36
x = bin(36)
print(x)

0b100100

Returns the binary version of a specified integer; the result will always start with the prefix `0b`.

### `bool()`

In [16]:
# return the boolean value
x = bool(56)
print(x)

True

The object will always return `True`, unless:
- object is empty, like `[]`, `()`, `{}`
- object is `False`
- object is `0`
- object is `None`

### `bytearray()`

In [17]:
# return an array of 4 bytes
x = bytearray(4)
print(x)

bytearray(b'\x00\x00\x00\x00')

**SYNTAX**: `bytearray(x, encoding, error)`

### `callable()`

In [18]:
# check if a function is callable
def x():
    a = 5
    
print(callable(x))

True

`callable()` returns `True` if specified object is callable, otherwise returns `False`.

### `chr()`

In [22]:
# get the character that represents the unicode 97
x = chr(97)
y = chr(101)
z = chr(90)
print('{}, {}, {}'.format(x, y, z))

a, e, Z

### `compile()`

In [23]:
# compile text as code, and then execute it
x = compile('print(55)', 'test', 'eval')
exec(x)

55

In [24]:
# compile more than one statement, and then execute it
x = compile('print(55)\nprint(88)', 'test', 'exec')
exec(x)

55
88

**SYNTAX**: `compile(source, filename, mode, flag, dont_inherit, optimize)`

### `complex()`

In [25]:
# convert the number 3 and imaginary number 5 into a complex number
x = complex(3, 5)
print(x)

(3+5j)

`complex()` function returns a complex number by specifying a real number and an imaginary number.

### `delattr()`

In [26]:
# delete the age property from the person object
class Person:
    name = "John"
    age = 36
    country = "Norway"
    
delattr(Person, 'age')

The Person object will no longer contain an 'age' property.

### `dict()`

In [29]:
# create a dictionary containing personal information
x = dict(name = 'John', age = 36, country = 'Norway')
print(x)

{'name': 'John', 'age': 36, 'country': 'Norway'}

**Remember**: a dictionary is a collection which is unordered, changeable and indexed.

### `dir()`

In [30]:
# display the content of an object
class Person:
    name = 'Joe'
    age = 27
    country = 'Estonia'
    
print(dir(Person))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'age', 'country', 'name']

Returns all properties and methods of the specified object, without the values. Remember, this will return even the built-in properties which are default for all objects.

### `divmod()`

In [31]:
# display the quotient and the remainder of 5 divided by 2
x = divmod(5, 2)
print(x)

(2, 1)

`divmod()` function returns a tuple containing the quotient, and the remainder when divident is divided by divisor.

**SYNTAX**: `divmod(divident, divisor)`

### `enumerate()`

In [33]:
# convert a tuple into an enumerate object
x = ('apple', 'banana', 'cherry')
y = enumerate(x)
for x in y:
    print(x)

(0, 'apple')
(1, 'banana')
(2, 'cherry')

Takes a collection (e.g. a tuple) and returns it as an enumerate object; adds a counter as the key of the enumerate object.

### `eval()`

In [34]:
x = 'print(55)'
eval(x)

55

`eval()` function evaluates the specified expression, if the expression is a legal Python statement, it will be executed.

### `exec()`

In [35]:
# execute a block of code
x = 'name = "Joe"\nprint(name)'
exec(x)

Joe

`exec()` function executes the specified Python code; accepts large blocks of code, unlike `eval()` function which only accepts a single expression.

### `filter()`

In [36]:
# filter the array and return a new array with only values equal to or above 18
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
    if x < 18:
        return False
    else:
        return True
    
adults = filter(myFunc, ages)

for x in adults:
    print(x)

18
24
32

`filter()` function returns an iterator where the items are filtered through a function to test if the item is accepted or not.

**SYNTAX**: `filter(function, iterable)`

### `float()`

In [37]:
# convert the number 3 into a floating point number
x = float(3)
print(x)

3.0

In [38]:
# convert a string into a floating point number
x = float('3')
print(x)

3.0

### `format()`

In [39]:
# format the number 0.5 into a percentage value
x = format(0.5, '%')
print(x)

50.000000%

In [40]:
# format 255 into a hexadecimal value
x = format(255, 'x')
print(x)

ff

### `frozenset()`

In [41]:
# freeze the list and make it unchangeable
mylist = ['apple', 'banana', 'pineapple']
x = frozenset(mylist)
print(x)

frozenset({'apple', 'pineapple', 'banana'})

`frozenset()` returns an unchangeable frozenset object (which is like a `set` object, only unchangeable).

In [43]:
# try to change the value of a frozenset item
mylist = ['apple', 'banana', 'pineapple']
x = frozenset(mylist)

# this will cause an error
x[1] = 'strawberry'

TypeError: 'frozenset' object does not support item assignment

### `getattr()`

In [44]:
# get the value of the age property of the "Person" object
class Person:
    name = "John"
    age = 21
    country = "Sweden"
    
x = getattr(Person, 'age')
print(x)

21

### `globals()`

In [56]:
# display the global symbol table
x = globals()

print(x['_ih'][:5])

['', '# return the absolute value of a number\nx = abs(-732)\nprint(x)', '# return the absolute value of a complex number\nx = abs(3+5j)', '# return the absolute value of a complex number\nx = abs(3+5j)\nprint(x)', 'mylist = [False, True, True]\n\n# check if all items in a list are True\nx = all(mylist)\nprint(x)']

### `hasattr()`

In [57]:
# check if the "Person" object has the "age" property
class Person:
    name = "Jeff"
    age = 90
    country = "France"
    
x = hasattr(Person, 'age')
print(x)

True

`hasattr()` function returns `True` if specified object has the specified attribute, otherwise `False`

### `hex()`

In [58]:
# convert 255 into hexadecimal value
x = hex(255)
print(x)

0xff

### `id()`

In [59]:
# return the unique id of a tuple object
x = ('apple', 'orange', 'pear')
y = id(x)
print(y)

4415204088

Returns a unique id for the specified object; all objects in Python have their own unique id and is assigned to the object when it is created.

### `input()`

In [62]:
# ask for the user's name and print it
print('Enter your name:')
x = input()
print('Hello, ' + x)

Enter your name:

 JJ

Hello, JJ

In [63]:
# use the prompt parameter to write a message before the input
x = input('Enter your name:')
print('Hello, ' + x)

Enter your name: Joe

Hello, Joe

### `int()`

In [64]:
# convert the number 3.5 into an integer
x = int(3.5)
print(x)

3

In [65]:
# convert a string into an integer
x = int('12')
print(x)

12

`int()` function converts the specified value into an integer number.

### `isinstance()`

In [66]:
# check if the number 5 is an integer
x = isinstance(5, int)
print(x)

True

In [68]:
# check if "Hello" is one of the types described in the type parameter
x = isinstance("Hello", (float, int, str, list, dict, tuple))
print(x)

True

In [69]:
# check if y is an instance of myObj
class myObj:
    name = "Joe"
    
y = myObj()

x = isinstance(y, myObj)
print(x)

True

### `issubclass()`

In [70]:
# check if the class myObj is a subclass of myAge
class myAge:
    age = 36
    
class myObj(myAge):
    name = "John"
    age = myAge
    
x = issubclass(myObj, myAge)
print(x)

True

`issubclass()` function returns `True` if specified object is a subclass of the specified object, otherwise `False`.

### `iter()`

In [71]:
# create an iterator object, and print the items
x = iter(['apple', 'banana', 'cherry'])
print(next(x))
print(next(x))
print(next(x))

apple
banana
cherry

### `len()`

In [72]:
# return the number of items in a list
mylist = ['apple', 'banana', 'cherry']
x = len(mylist)
print(x)

3

In [73]:
# return the number of characters in a string
mylist = 'Hello'
x = len(mylist)
print(x)

5

### `list()`

In [74]:
# create a list 
x = list(('apple', 'banana', 'cherry'))
print(x)

['apple', 'banana', 'cherry']

**Reminder**: A list object is a collection which is ordered and changeable.

### `locals()`

In [77]:
# display the local symbol table
x = locals()
# print this cell block
print(x['_i75'])

# display the local symbol table
x = locals()
print(x)

### `map()`

In [80]:
# calculate the length of each word in the tuple
def myFunc(n):
    return len(n)

x = map(myFunc, ('apple', 'banana', 'pineapple'))
print(list(x))

[5, 6, 9]

The `map()` function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.

In [81]:
# make new fruits by sending two iterable objects into the function
def myfunc(a, b):
    return a + b

x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))
print(list(x))

['appleorange', 'bananalemon', 'cherrypineapple']

### `max()`

In [82]:
# return the largest number
x = max(5, 10, 11)
print(x)

11

### `memoryview()`

In [83]:
# create and print a memoryview object
x = memoryview(b'Hello')

print(x)

<memory at 0x106c6fdc8>

In [84]:
# return the Unicode of the first character
print(x[0])

72

In [85]:
# print the Unicode of the second character
print(x[1])

101

### `min()`

In [86]:
# return the lowest number
x = min(1, 2, 3, 4)
print(x)

1

### `next()`

In [87]:
# create an iterator, and print the items one by one
mylist = iter(['apple', 'banana', 'pear'])
x = next(mylist)
print(x)
x = next(mylist)
print(x)
x = next(mylist)
print(x)

apple
banana
pear

In [88]:
# return a default value when the iterable has reached its end
mylist = iter(["apple", "banana", "cherry"])
x = next(mylist, "orange")
print(x)
x = next(mylist, "orange")
print(x)
x = next(mylist, "orange")
print(x)
x = next(mylist, "orange")
print(x)

apple
banana
cherry
orange

### `object()`

In [90]:
# create an empty object
x = object()
print(x)

<object object at 0x10730a040>

Returns an empty object; cannot add new properties or methods; is the base for all clasees, and holds the built-in properties and methods which are default for all classes.

### `oct()`

In [91]:
# convert the number 12 into an octal value
x = oct(12)
print(x)

0o14

Converts integer into an octal string; is prefixed with `0o`.

### [`open()`](https://www.w3schools.com/python/ref_func_open.asp)

In [92]:
# open a file and print the content
f = open('demofile.txt', 'r')
print(f.read())

This is a demo text file for the File Handling notebook.

Hello! Welcome to demofile.txt
This file is for testing purposes.
Good Luck!

### `ord()`

In [93]:
# return the integer that represents the character 'h'
x = ord('h')
print(x)

104

Returns the number representing the unicode code of a specified character.

### `pow()`

In [94]:
# return the value of 4 to the power of 3
x = pow(4, 3)
print(x)

64

**SYNTAX**: `pow(x, y, z)`

- x: a number, the base
- y: a number, the exponent
- z: a number (optional), the modulus

### `range()`

In [95]:
# create a sequence of numbers from 0 to 5, and print each item in the sequence
x = range(6)
for n in x:
    print(n)

0
1
2
3
4
5

**SYNTAX**: `range(start, stop, step)`

- `step`: an integer number specifying the incrementation, default is 1

In [97]:
# create another sequence of number from 5 to 201, incrementing by 13
x = range(5, 201, 13)
for n in x:
    print(n)

5
18
31
44
57
70
83
96
109
122
135
148
161
174
187
200

### `reversed()`

In [98]:
# reverse the sequence of a list, and print each item
alph = ['a', 'b', 'c', 'd']
ralph = reversed(alph)
for x in ralph:
    print(x)

d
c
b
a

### `round()`

In [99]:
# round a number to only two decimals
x = round(5.4321, 2)
print(x)

5.43

### `set()`

In [100]:
# create a set 
x = set(('apple', 'banana', 'pineapple'))
print(x)

{'apple', 'pineapple', 'banana'}

**Reminder**: items in a set list are unordered, so it will appear in random order.

### `setattr()`

In [101]:
# change the value of the "age" property of the "person" object
class Person:
    name = "Joe"
    age = 36
    country = "Ireland"
    
setattr(Person, 'age', 40)
getattr(Person, 'age')

40

### `slice()`

In [102]:
# create a tuple and a slice object, use the slice object to get only the first two items of the tuple
a = ("a", "b", "c", "d", "e", "f")
x = slice(2)
print(a[x])

('a', 'b')

**SYNTAX**: `slice(start, end, step)`

Indicate position to start the slice, end the slice and step of the slicing.

### `sorted()`

In [103]:
# sort a tuple
a = ("a", "b", "c", "d", "e", "f")
x = sorted(a)
print(x)

['a', 'b', 'c', 'd', 'e', 'f']

Returns a sorted list of the specified iterable object; can specify ascending/descending order `reverse`; strings are sorted alphabetically, and numbers are sorted numerically.

### `str()`

In [104]:
# convert the number 3.5 into a string
x = str(3.5)
print(x)

3.5

### `sum()`

In [105]:
# add all items in a tuple and return the result
a = (1, 2, 3, 4, 5)
x = sum(a)
print(x)

15

In [107]:
# start with the number 7, and add all the items in a tuple to this number
a = (1, 2, 3, 4, 5)
x = sum(a, 7)
print(x)

22

### `tuple()`

In [111]:
# create a tuple containing fruits
x = tuple(('apple', 'pineapple', 'pear'))
print(x)

('apple', 'pineapple', 'pear')

**NOTE**: you cannot change or remove items in a tuple.

### `type()`

In [113]:
# return the type of these objects
a = ('apple', 'banana', 'pineapple')
b = 'Hello World'
c = 33

x = type(a)
y = type(b)
z = type(c)

print('Type of a: {}, Type of b: {}, Type of c: {}'.format(x, y, z))

Type of a: <class 'tuple'>, Type of b: <class 'str'>, Type of c: <class 'int'>

### `zip()`

In [115]:
# join two tuples together
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = zip(a, b)
print(list(x))

[('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica')]

`zip()` returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

In [116]:
# if one tuple contains more items, these items are ignored
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica", "Vicky")

x = zip(a, b)
print(list(x))

[('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica')]