In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)

df = pd.read_csv('sac_kings_1819_game_stats.csv')

In [4]:
df.head(5)

   G        Date Unnamed: 2  Opp W/L     Tm  Opp.1   ORtg   DRtg   Pace    FTr   3PAr    TS%  TRB%  AST%  STL%  BLK%  Unnamed: 17   eFG%  TOV%  ORB%  FT/FGA  Unnamed: 22  eFG%.1  TOV%.1  DRB% FT/FGA\
0  1  2018-10-17        NaN  UTA   L  117.0  123.0  110.7  116.4  105.7  0.189  0.200  0.568  45.7  34.7   7.6   5.8          NaN  0.553   8.0  11.4   0.126          NaN   0.601    15.1  86.5   .354\
1  2  2018-10-19          @  NOP   L  129.0  149.0  115.9  133.9  111.3  0.271  0.260  0.600  42.9  48.0   5.4   3.1          NaN  0.573  10.8  18.4   0.198          NaN   0.674    12.7  71.4   .221\
2  3  2018-10-21          @  OKC   W  131.0  120.0  119.1  109.1  110.0  0.308  0.242  0.634  47.4  56.0  10.0  10.8          NaN  0.604  14.1  26.7   0.231          NaN   0.486    13.3  65.4   .183\
3  4  2018-10-23          @  DEN   L  112.0  126.0  111.6  125.6  100.3  0.233  0.360  0.591  44.3  64.4   7.0   8.7          NaN  0.599  14.4  20.9   0.105          NaN   0.571    10.2  66.7   .131\
4  5  2018-10-24        NaN  MEM   W   97.0   92.0   99.7   94.5   97.3  0.398  0.217  0.497  53.8  54.3   7.2   8.8          NaN  0.458  12.6  29.4   0.253          NaN   0.436    13.1  76.4   .106\